                    </div> <!-- end col -->
                </div> <!-- end row -->
            </main>
            <footer class="row">
                <div class="col">
                    <!-- placeholder for now, find something better to put here -->
                    <p>Copyright 2019</p>
                </div> <!-- end col -->
            </footer>
        </div> <!-- end container -->
        <script src="../assets/vendor/js/jquery.min.js"></script>
        <script src="../assets/vendor/js/popper.min.js"></script>
        <script src="../assets/vendor/js/bootstrap.js"></script>
        <script src="assets/vendor/js/clipboard.min.js"></script>
    </body>

</html>
