<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="assets/vendor/css/bootstrap.css">
  <title>Nightshift's Repositories</title>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="jumbotron text-center">
          <h1>Nightshift's git Respositories</h1>
        </div> <!-- end jumbotron -->
      </div> <!-- end col -->
    </div> <!-- end row -->
    <div class="row">
      <div class="col">
        <div class="card-columns">
          <div class="card">
            <div class="card-header"><a href="project.html" alt="View Repository's page">Repository</a></div>
            <div class="card-body">
              <p class="card-text">Repository does some things, but not others</p>
            </div> <!-- end card-body -->
            <div class="card-footer">
              <small class="text-muted">Last commit Dec 20, 2018</small>
            </div> <!-- end card-footer -->
          </div> <!-- end card -->
          <div class="card">
            <div class="card-header"><a href="project.html" alt="View Repository's page">Repository</a></div>
            <div class="card-body">
              <p class="card-text">Repository does some things, but not others. It has a much longer description.</p>
            </div> <!-- end card-body -->
            <div class="card-footer">
              <small class="text-muted">Last commit Feb 20, 2019</small>
            </div> <!-- end card-footer -->
          </div> <!-- end card -->
          <div class="card">
            <div class="card-header"><a href="project.html" alt="View Repository's page">Repository</a></div>
            <div class="card-body">
              <p class="card-text">This is and interesting repository, but it's really old, and is pretty big, just like the description. This repository's developers were known to be long winded</p>
            </div> <!-- end card-body -->
            <div class="card-footer">
              <small class="text-muted">Last commit Jun 17, 2011</small>
            </div> <!-- end card-footer -->
          </div> <!-- end card -->
          <div class="card">
            <div class="card-header"><a href="project.html" alt="View Repository's page">Repository</a></div>
            <div class="card-body">
              <p class="card-text">Repository does some things, but not others</p>
            </div> <!-- end card-body -->
            <div class="card-footer">
              <small class="text-muted">Last commit Dec 20, 2018</small>
            </div> <!-- end card-footer -->
          </div> <!-- end card -->
          <div class="card">
            <div class="card-header"><a href="project.html" alt="View Repository's page">Repository</a></div>
            <div class="card-body">
              <p class="card-text">Repository does some things, but not others</p>
            </div> <!-- end card-body -->
            <div class="card-footer">
              <small class="text-muted">Last commit Dec 20, 2018</small>
            </div> <!-- end card-footer -->
          </div> <!-- end card -->
        </div> <!-- end card-deck -->
      </div> <!-- end col -->
    </div> <!-- end row -->
  </div> <!-- end container -->
  <script src="assets/vendor/js/jquery.min.js"></script>
  <script src="assets/vendor/js/popper.min.js"></script>
  <script src="assets/vendor/js/bootstrap.js"></script>
</body>

</html>
