<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="assets/vendor/css/bootstrap.css">
  <title>Nightshift's Repositories</title>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="jumbotron text-center">
          <h1>Nightshift's git Respositories</h1>
        </div> <!-- end jumbotron -->
      </div> <!-- end col -->
    </div> <!-- end row -->
    <div class="row">
      <div class="col">
        <div class="card-columns">
          <div class="card">
            <div class="card-header"><a href="project.html" alt="View Repository's page">Repository1</a></div>
            <div class="card-body">
              <p class="card-text">Repository does some things, but not others</p>
            <div class="dropdown">
                 <button class="btn btn-secondary dropdown-toggle" id="clonerepository1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Clone</button>
                <div class="dropdown-menu" aria-labeled-by="clonerepository1">
                    <div class="dropdown-item pr-1">
                        Anonymous
                        <div class="input-group">
                            <input type="text" id="repo1-anon" class="form-control" value="git://servername/repository1.git">
                            <div class="input-group-append">
                                <button class="btn" data-clipboard-target="#repo1-anon"><img src="assets/vendor/octicons/clippy.svg" alt=""></button>
                            </div> <!-- end input-group-append -->
                        </div> <!-- end input-group -->
                    </div> <!-- end dropdown-item -->
                    <div class="dropdown-item pr-1">
                        Authenticated
                        <div class="input-group">
                            <input type="text" id="repo1-auth" class="form-control" value="user@servername:repository1.git">
                            <div class="input-group-append">
                                <button class="btn" data-clipboard-target="#repo1-auth"><img src="assets/vendor/octicons/clippy.svg" alt=""></button>
                            </div> <!-- end input-group-append -->
                        </div> <!-- end input-group -->
                    </div> <!-- end dropdown-item -->
                </div> <!-- end dropdown-menu -->
             </div> <!-- end dropdown -->
            </div> <!-- end card-body -->
            <div class="card-footer">
              <small class="text-muted">Last commit Dec 20, 2018</small>
            </div> <!-- end card-footer -->
          </div> <!-- end card -->
          <div class="card">
            <div class="card-header"><a href="project.html" alt="View Repository's page">Repository2</a></div>
            <div class="card-body">
                <p class="card-text">Repository does some things, but not others. It has a much longer description.</p>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" id="clonerepository2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Clone</button>
                   <div class="dropdown-menu" aria-labeled-by="clonerepository2">
                       <div class="dropdown-item pr-1">
                           Anonymous
                           <div class="input-group">
                               <input type="text" id="repo2-anon" class="form-control" value="git://servername/repository2.git">
                               <div class="input-group-append">
                                   <button class="btn" data-clipboard-target="#repo2-anon"><img src="assets/vendor/octicons/clippy.svg" alt=""></button>
                               </div> <!-- end input-group-append -->
                           </div> <!-- end input-group -->
                       </div> <!-- end dropdown-item -->
                       <div class="dropdown-item pr-1">
                           Authenticated
                           <div class="input-group">
                               <input type="text" id="repo2-auth" class="form-control" value="user@servername:repository2.git">
                               <div class="input-group-append">
                                   <button class="btn" data-clipboard-target="#repo2-auth"><img src="assets/vendor/octicons/clippy.svg" alt=""></button>
                               </div> <!-- end input-group-append -->
                           </div> <!-- end input-group -->
                       </div> <!-- end dropdown-item -->
                   </div> <!-- end dropdown-menu -->
                </div> <!-- end dropdown -->
            </div> <!-- end card-body -->
            <div class="card-footer">
              <small class="text-muted">Last commit Feb 20, 2019</small>
            </div> <!-- end card-footer -->
          </div> <!-- end card -->
          <div class="card">
            <div class="card-header"><a href="project.html" alt="View Repository's page">Repository3</a></div>
            <div class="card-body">
              <p class="card-text">This is and interesting repository, but it's really old, and is pretty big, just like the description. This repository's developers were known to be long winded</p>
              <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" id="clonerepository3" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Clone</button>
                 <div class="dropdown-menu" aria-labeled-by="clonerepository3">
                     <div class="dropdown-item pr-1">
                         Anonymous
                         <div class="input-group">
                             <input type="text" id="repo3-anon" class="form-control" value="git://servername/repository3.git">
                             <div class="input-group-append">
                                 <button class="btn" data-clipboard-target="#repo3-anon"><img src="assets/vendor/octicons/clippy.svg" alt=""></button>
                             </div> <!-- end input-group-append -->
                         </div> <!-- end input-group -->
                     </div> <!-- end dropdown-item -->
                     <div class="dropdown-item pr-1">
                         Authenticated
                         <div class="input-group">
                             <input type="text" id="repo3-auth" class="form-control" value="user@servername:repository3.git">
                             <div class="input-group-append">
                                 <button class="btn" data-clipboard-target="#repo3-auth"><img src="assets/vendor/octicons/clippy.svg" alt=""></button>
                             </div> <!-- end input-group-append -->
                         </div> <!-- end input-group -->
                     </div> <!-- end dropdown-item -->
                 </div> <!-- end dropdown-menu -->
              </div> <!-- end dropdown -->
            </div> <!-- end card-body -->
            <div class="card-footer">
              <small class="text-muted">Last commit Jun 17, 2011</small>
            </div> <!-- end card-footer -->
          </div> <!-- end card -->
          <div class="card">
            <div class="card-header"><a href="project.html" alt="View Repository's page">Repository4</a></div>
            <div class="card-body">
              <p class="card-text">Repository does some things, but not others</p>
              <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" id="clonerepository4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Clone</button>
                 <div class="dropdown-menu" aria-labeled-by="clonerepository4">
                     <div class="dropdown-item pr-1">
                         Anonymous
                         <div class="input-group">
                             <input type="text" id="repo4-anon" class="form-control" value="git://servername/repository4.git">
                             <div class="input-group-append">
                                 <button class="btn" data-clipboard-target="#repo4-anon"><img src="assets/vendor/octicons/clippy.svg" alt=""></button>
                             </div> <!-- end input-group-append -->
                         </div> <!-- end input-group -->
                     </div> <!-- end dropdown-item -->
                     <div class="dropdown-item pr-1">
                         Authenticated
                         <div class="input-group">
                             <input type="text" id="repo4-auth" class="form-control" value="user@servername:repository4.git">
                             <div class="input-group-append">
                                 <button class="btn" data-clipboard-target="#repo4-auth"><img src="assets/vendor/octicons/clippy.svg" alt=""></button>
                             </div> <!-- end input-group-append -->
                         </div> <!-- end input-group -->
                     </div> <!-- end dropdown-item -->
                 </div> <!-- end dropdown-menu -->
              </div> <!-- end dropdown -->
            </div> <!-- end card-body -->
            <div class="card-footer">
              <small class="text-muted">Last commit Dec 20, 2018</small>
            </div> <!-- end card-footer -->
          </div> <!-- end card -->
          <div class="card">
            <div class="card-header"><a href="project.html" alt="View Repository's page">Repository5</a></div>
            <div class="card-body">
              <p class="card-text">Repository does some things, but not others</p>
              <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" id="clonerepository5" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Clone</button>
                 <div class="dropdown-menu" aria-labeled-by="clonerepository5">
                     <div class="dropdown-item pr-1">
                         Anonymous
                         <div class="input-group">
                             <input type="text" id="repo5-anon" class="form-control" value="git://servername/repository5.git">
                             <div class="input-group-append">
                                 <button class="btn" data-clipboard-target="#repo5-anon"><img src="assets/vendor/octicons/clippy.svg" alt=""></button>
                             </div> <!-- end input-group-append -->
                         </div> <!-- end input-group -->
                     </div> <!-- end dropdown-item -->
                     <div class="dropdown-item pr-1">
                         Authenticated
                         <div class="input-group">
                             <input type="text" id="repo5-auth" class="form-control" value="user@servername:repository5.git">
                             <div class="input-group-append">
                                 <button class="btn" data-clipboard-target="#repo5-auth"><img src="assets/vendor/octicons/clippy.svg" alt=""></button>
                             </div> <!-- end input-group-append -->
                         </div> <!-- end input-group -->
                     </div> <!-- end dropdown-item -->
                 </div> <!-- end dropdown-menu -->
              </div> <!-- end dropdown -->
            </div> <!-- end card-body -->
            <div class="card-footer">
              <small class="text-muted">Last commit Dec 20, 2018</small>
            </div> <!-- end card-footer -->
          </div> <!-- end card -->
        </div> <!-- end card-deck -->
      </div> <!-- end col -->
    </div> <!-- end row -->
  </div> <!-- end container -->
  <script src="assets/vendor/js/jquery.min.js"></script>
  <script src="assets/vendor/js/popper.min.js"></script>
  <script src="assets/vendor/js/bootstrap.js"></script>
  <script src="assets/vendor/js/clipboard.min.js"></script>
</body>

</html>
