<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="assets/vendor/css/bootstrap.css">
  <title>Nightshift's Repositories</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="jumbotron text-center">
          <h1>Nightshift's git Respositories</h1>
        </div> <!-- end jumbotron -->
      </div> <!-- end col -->
    </div> <!-- end row -->
  </div> <!-- end container -->
  <script src="assets/vendor/js/jquery.min.js"></script>
  <script src="assets/vendor/js/popper.min.js"></script>
  <script src="assets/vendor/js/bootstrap.js"></script>
</body>
</html>
