<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="assets/vendor/css/bootstrap.css">
  <title>Nightshift's Repositories</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="jumbotron text-center">
          <h1>A Repository</h1>
          <p>The repository's short description, from .git/description. This file is not commitable or retrievable via git clone. It can be fairly long, so, the choice for markup matters. For now, we are using a &lt;p&gt;.</p>
        </div> <!-- end jumbotron -->
      </div> <!-- end col -->
    </div> <!-- end row -->
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h2>Readme</h2>
                </div>
                <div class="card-body">
                    <p>This is the text of the README file for the repository, if it exists. Not all developers create a readme file, and of the ones that do, they don't all handle it the same way.</p>
                    <p>Since we will be parsing this file into our pages, we will have to be very careful in out script to make sure we are able to handle all the ways we know of for developers to create their readme, and the way they name the file.</p>
                    <p>Most developers create the readme as plain text or using some flavor of markdown. Other developers will use an html partitial, with and without markdown. To avoid having to write our own parser, will will make use of the cmark package, in the shell version anyway. If, or when, we port to perl, we will have to look for a different solution.</p>
                    <p>Readme files can be very short, or very very long. Our template, and the script that uses it needs to be able to handle that.</p>
                    <p>Our templates do not currently follow semantic HTML and that will need to be fixed, befor we start the process of readying them for the script.</p>
                </div>
            </div> <!-- end card -->
        </div> <!-- end col -->
    </div> <!-- end row -->
    <div class="row justify-content-center">
        <div class="col-sm-10">
            <div class="card">
                <nav class="card-header">
                    <h2>Branches</h2>
                    <div class="nav nav-tabs card-header-tabs">
                        <a href="#nav-master" class="nav-item nav-link active" id="nav-master-tab" data-toggle="tab" role="tab" aria-controls="nav-master" aria-selected="true">Master</a>
                        <a href="#nav-exported-feature" class="nav-item nav-link" id="nav-exported-feature-tab" data-toggle="tab" role="tab" aria-controls="nav-exported-feature" aria-selected="true">Exported Feature</a>
                        <a href="#" class="nav-item nav-link disabled" tab-index="-1" aria-disabled="true">Non-exported Feature</a>
                        <a href="#" class="nav-item nav-link disabled" tab-index="-1" aria-disabled="true">Non-exported Feature2</a>
                    </div>
                </nav> <!-- end card-header -->
                <div class="card-body tab-content" id="tab-content">
                    <div class="tab-pane fade show active" id="nav-master" role="tabpanel" aria-labeled-by="nav-master-tab">
                        <h2 class="card-title">Master Branch file list</h2>
                        <ul class="list-group">
                            <li class="list-group-item">A directory
                                <ul class="list-group">
                                    <li class="list-group-item">file1</li>
                                    <li class="list-group-item">file2</li>
                                    <li class="list-group-item">file3</li>
                                    <li class="list-group-item">file4</li>
                                    <li class="list-group-item">file5</li>
                                </ul>
                            </li>
                            <li class="list-group-item">file6</li>
                            <li class="list-group-item">file7</li>
                            <li class="list-group-item">file8</li>
                            <li class="list-group-item">file9</li>
                            <li class="list-group-item">file10</li>
                        </ul>
                    </div> <!-- end tab pane -->
                    <div class="tab-pane fade" id="nav-exported-feature" role="tabpanel" aria-labeled-by="nav-exported-feature-tab">
                        <h2 class="card-title">Exported Feature Branch file list</h2>
                        <ul class="list-group">
                            <li class="list-group-item">A directory
                                <ul class="list-group">
                                    <li class="list-group-item">file1</li>
                                    <li class="list-group-item">file2</li>
                                    <li class="list-group-item">file3</li>
                                    <li class="list-group-item">file4</li>
                                    <li class="list-group-item">file5</li>
                                </ul>
                            </li>
                            <li class="list-group-item">file6</li>
                            <li class="list-group-item">file7</li>
                            <li class="list-group-item">file8</li>
                            <li class="list-group-item">file9</li>
                            <li class="list-group-item">file10</li>
                        </ul>
                    </div> <!-- end tab pane -->
                </div> <!-- end card-body -->
            </div> <!-- end card -->
        </div> <!-- end col -->
    </div> <!-- end row -->
  </div> <!-- end container -->
  <script src="assets/vendor/js/jquery.min.js"></script>
  <script src="assets/vendor/js/popper.min.js"></script>
  <script src="assets/vendor/js/bootstrap.js"></script>
</body>
</html>
